$toolbar-color: #40f1be;
$popup-color: whitesmoke;
$arrow-color: $toolbar-color;

.biblePreviewerContainer {
  display: inline-block;
}

.biblePreviewerLink {
  cursor: pointer;
}

.biblePreviewerTooltip {
  min-width: 350px;
  max-width: 100%;
  z-index: 999999999999;
  width: 350px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 5px grey;
  font: normal 18px "Segoe UI", Tahoma, sans-serif;
  white-space: normal;
  word-wrap: break-word;

  .bpHeaderBar {
    background-color: $toolbar-color;
    padding: 3px 20px;
    color: black;
    text-align: left;
    border-radius: 10px 10px 0 0;

    .bpVerse {
      font-size: 16px;
    }
  }

  .bpTooltipInner {
    max-width: none;
    max-height: 300px;
    padding: 10px 20px;
    text-align: left;
    color: black;
    background-color: $popup-color;
    overflow-x: hidden;
    overflow-y: auto;
    font-style: normal;
    border-radius: 0 0 10px 10px;
    border: 2px solid $toolbar-color;

    h3 {
      margin: 0 0 5px;
      font-size: 1em;
      font-weight: 600;
    }

    p {
      margin: 0;
      display: inline;
      font-size: 18px;
      line-height: 1;
    }

    sup {
      font-style: italic;
      font-size: 70%;
      padding: 0 2px 0 5px;
    }

    span.nd {
      font-variant: small-caps;
    }
  }

  .bpVerse {
    display: inline-block;
  }

  .bpTranslation {
    background-color: $toolbar-color;
    text-align: right;
    font-variant: small-caps;
    display: inline-block;
    padding-left: 10px;
    font-size: 12px;
  }

  .bpTooltipArrow {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    position: absolute;
    margin: 0;
  }
}

.biblePreviewerTooltip[x-placement^="top"] .bpTooltipArrow {
  border-bottom-width: 0;
  border-top-color: $arrow-color;
  bottom: -10px;
}

.biblePreviewerTooltip[x-placement^="bottom"] .bpTooltipArrow {
  border-top-width: 0;
  border-bottom-color: $arrow-color;
  top: -10px;
}

.biblePreviewerTooltip[x-placement^="right"] .bpTooltipArrow {
  border-left-width: 0;
  border-right-color: $arrow-color;
  left: -10px;
}

.biblePreviewerTooltip[x-placement^="left"] .bpTooltipArrow {
  border-right-width: 0;
  border-left-color: $arrow-color;
  right: -10px;
}

.refreshBiblePreview {
  width: 300px;
  background-color: limegreen;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
